<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="card shadow">

    <div class="card-header bg-transparent">
      <h3 class="mb-0">Stores</h3>
    </div>

    <div class="card-body">

      <div class="row">
        <app-item-view class="col-xl-6 app-item-view" *ngFor="let store of stores" [image]="store.image"
          [body]="null" [title]="store.name" buttonTitle="View Store" [target]="['/store', store.id]">
        </app-item-view>
        <p *ngIf="stores.length == 0 && !isLoading">
          No stores.
        </p>
        <div *ngIf="isLoading" class="loader-div">
          <p>Loading...</p>
          <mat-spinner class="custom-spinner" color="accent"  [diameter]="30"></mat-spinner>
        </div>
      </div>
    </div>

  </div>

</div>