.dropzone {
  position: relative;
  height: 250px;
  width: 100%;
  border: 1px;
  border-color: gray;
  margin: 5px;
}

.dropzone-style {
  border: 2px dotted gray ;
  border-radius: 10px; 
}
// .ngx-file-drop__content {
//   color: gray !important;
// }

img {
  margin-bottom: 5px;
  margin-top: 5px;
  max-height: 300px;
  object-fit: contain;
}