<div *ngIf="currentUpload">
  <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>
<div class="box">

  <div *ngIf="isLoading" class="loader-div">
    <p>Loading...</p>
    <mat-spinner class="custom-spinner" [diameter]="30"></mat-spinner>
  </div>

  <div *ngIf="image" >
    <img class="card-img-top" src="{{image}}">
    <button class="delete" mat-mini-fab color="warn" (click)="didRemoveImage()">
      <i class="fas fa-trash"></i>
    </button>
  </div>


  <file-drop *ngIf="showDragAndDropView" class="dropzone" [dropZoneLabel]="textLabel" (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" multiple="false" accept="png"
    dropZoneClassName="dropzone-style">
  </file-drop>


</div>