<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">{{cameraName}}</h3>
        </div>
        <div class="card-body">
          <!-- Spinner -->
          <div *ngIf="isLoading" class="loader-div">
            <p>Loading...</p>
            <mat-spinner class="custom-spinner" [diameter]="30"></mat-spinner>
          </div>

          <!-- stats -->
          <div *ngIf="!isLoading" class="row">
            <app-card-view class="col-xl-4 col-lg-3 app-card-view" *ngFor="let item of stats" [title]="item.title"
              [value]="item.value" [icon]="item.icon" [iconBgColor]="item.iconBgColor" [iconColor]="item.iconColor"
              [diffValue]="item.diffValue" [isPositive]="item.isPositive" [footerText]="item.footerText"
              [showFooter]="item.showFooter">
            </app-card-view>
          </div>

          <br>
          <br>

          <div *ngIf="!isLoading" class="heatmap" #map>
            <img *ngIf="image" class="card-img-top" src="{{image}}" alt="Card image cap" (load)="didLoadImage()">
          </div>

          <!-- Graphs -->
          <div *ngIf="!isLoading" class="row">
            <app-chart class="col-xl-6 app-bar-chart" *ngFor="let graph of graphs" [type]="graph.type"
              [datasets]="graph.data.dataset" [options]="graph.options" [labels]="graph.data.labels"
              [title]="graph.name" [header]="graph.header">
            </app-chart>
          </div>

          <br>
          <br>

          <!-- Tables -->
          <div *ngIf="!isLoading" class="col-xl-12 mb-5 mb-xl-0">
            <app-table-view *ngFor="let table of tables" [title]="table.title" [header]="table.header"
              [headers]="table.columns" [data]="table.values"></app-table-view>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>