<div class="header pb-8 pt-5 pt-md-8 image-header" [style.background-image]="'url('+storeImage+')'">
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
            <div class="row">
                <div class="col-xl-10">
    
                  <h3 class="w-75 p-3">
                    {{storeName}}
                  </h3>
                </div>
                <div class="col-xl-2">
                  <div class="button-wrapper w-100 p-3">
                    <button mat-raised-button (click)="openDialog()">Edit</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="card-body">

          <div class="row">
            <app-item-view class="col-xl-4 app-item-view" *ngFor="let camera of cameras" [image]="camera.image"
              [body]="null" [title]="camera.name" buttonTitle="View Camera" [target]="['/camera', camera.id]">
            </app-item-view>
            <p *ngIf="cameras.length == 0 && !isLoading">
              No stores.
            </p>
            <div *ngIf="isLoading" class="loader-div">
              <p>Loading...</p>
              <mat-spinner class="custom-spinner" color="accent"  [diameter]="30"></mat-spinner>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>