<div class="header pb-8 pt-5 pt-md-8 image-header" [style.background-image]="'url('+storeImage+')'">
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">{{storeName}}</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <app-item-view class="col-4 col-lg-4 app-item-view" *ngFor="let store of [0,0,0,0,0,0]">
            </app-item-view>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>