<h2>Update Store</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Store Name" [value]="data.name">
  </mat-form-field>

  <h3>Current Image</h3>
  <img *ngIf="data.image" class="card-img-top" src="{{data.image}}" alt="Card image cap">

  <h3>New Image</h3>
  <upload-form (onUploadCompleted)="didComplete($event)" (onFileRemoved)="didRemoveImage()"
    textLabel="Drag and drop an image">
  </upload-form>
</div>
<mat-dialog-actions>
  <div class="row">
    <div class="col-xl-6">
      <button mat-button (click)="onNoClick(1)" flex>Cancel</button>
    </div>
    <div class="col-xl-6">
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial flex>Update</button>
    </div>


  </div>


</mat-dialog-actions>